* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}
body header {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
body header nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  color: #7C6A0A;
}
body header nav p {
  font-size: 3rem;
}
body header nav .icons {
  display: flex;
  gap: 15px;
}
body header nav .icons button {
  background: none;
  border: none;
}
body header nav .icons button:hover {
  cursor: pointer;
}
body article {
  width: 100%;
  height: 686px;
  max-width: 1200px;
  color: #7C6A0A;
  display: flex;
  gap: 20px;
}
body article .impact-section {
  width: 50%;
  height: auto;
}
body article .impact-section h1 {
  font-size: 6rem;
}
body article .impact-section p {
  font-size: 2.5rem;
  margin-bottom: 80px;
}
body article .impact-section button {
  width: 261px;
  height: 73px;
  border: none;
  border-radius: 35px;
  font-size: 2.3rem;
  font-weight: 700;
  color: white;
  background-color: #FA9500;
}
body article .impact-section button:hover {
  cursor: pointer;
}
body article .image-section {
  width: 50%;
  height: 100%;
}
body article .image-section img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main {
  max-width: 1200px;
  margin: 0 auto;
}
body main section {
  width: 100%;
  height: auto;
}
body main section h2 {
  color: #7C6A0A;
  font-size: 5rem;
  font-weight: 500;
  margin: 32px 0;
}
body main section .healthcare, body main section .furniture {
  width: 100%;
  height: auto;
}
body main section .healthcare .card-section, body main section .furniture .card-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
body main section .healthcare .card-section .product-card, body main section .furniture .card-section .product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 502px;
  padding: 15px;
  border-radius: 8px;
  background-color: #FFDAC6;
}
body main section .healthcare .card-section .product-card svg, body main section .furniture .card-section .product-card svg {
  align-self: self-end;
  height: 10%;
}
body main section .healthcare .card-section .product-card svg:hover, body main section .furniture .card-section .product-card svg:hover {
  cursor: pointer;
}
body main section .healthcare .card-section .product-card .img-container, body main section .furniture .card-section .product-card .img-container {
  width: 100%;
  height: 65%;
  padding: 10px 20px 0;
  margin-bottom: 30px;
}
body main section .healthcare .card-section .product-card .img-container img, body main section .furniture .card-section .product-card .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
body main section .healthcare .card-section .product-card .card-info, body main section .furniture .card-section .product-card .card-info {
  height: 25%;
  margin: 0 20px;
  color: #7C6A0A;
}
body main section .healthcare .card-section .product-card .card-info h3, body main section .furniture .card-section .product-card .card-info h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
}
body main section .healthcare .card-section .product-card .card-info p, body main section .furniture .card-section .product-card .card-info p {
  width: 100%;
  font-size: 1.5rem;
}
body main section .furniture .card-section .product-card {
  background-color: #BABD8D;
}
body main section .furniture .card-section .product-card svg path {
  stroke: currentColor;
}
body main section .furniture .card-section .product-card svg {
  color: white;
}
body main section .furniture .card-section .product-card .card-info {
  color: white;
}
body main .info-section .about-us .mission-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main .info-section .about-us .mission-container p {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #E86424;
}
body main .info-section .about-us .mission-container .earth, body main .info-section .about-us .mission-container .innovation {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 500px;
}
body main .info-section .gallery .img-container {
  display: flex;
  gap: 32px;
}
body main .info-section .gallery .img-container img {
  width: 398px;
  height: 398px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
body main .info-section .gallery .img-container img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
body main .info-section .location {
  margin-bottom: 50px;
}
body main .info-section .location .map {
  width: 100%;
  height: 300px;
}
body main .info-section .location h3 {
  font-size: 3.5rem;
  font-weight: 400;
  color: #E86424;
}
body main .info-section .location p {
  font-size: 2.5rem;
  font-weight: 400;
  color: #E86424;
}
body footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
  align-content: center;
  justify-items: center;
}
body footer h3 {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
}
body footer .social-media {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */