@use "cart.scss";
@use "variables.scss" as variables;
@use "product.scss";


@mixin flexCenter($direction, $content, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $aling;
}
@mixin buttonStyle{
    button{
        background: none;
        border: none;
    }
}

*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: variables.$primary-color;
    font-family: variables.$font-stack;
    header{
        z-index: 2;
        width: 100%;
        height: auto;
        margin-bottom: 32px;
        position: fixed;
        top: 0;
        background-color: variables.$primary-color;
        nav{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            color: variables.$prymary-text-color;
            .logo{
                text-decoration: none;
                font-size: 3rem;
                color: variables.$prymary-text-color;
            }
            .icons{
                display: flex;
                position: relative;
                gap: 15px;
                @include buttonStyle;
                svg:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                        transition: transform 0.5s;
                    } 
                .wishlist-contain{
                    z-index: 2;
                    display: none;
                    flex-direction: column;
                    width: 500px;
                    height: auto;
                    position: absolute;
                    top: 36px;
                    right: 69px;
                    background-color: variables.$secondary-color;
                    border-radius: 8px;
                    .Wishlist-item{
                        display: flex;
                        gap: 1px;
                        width: 100%;
                        height: 100px;
                        padding: 15px;
                        border-radius: 8px;
                        border-bottom: 1px solid variables.$prymary-text-color;
                        .img-container{
                            width: 30%;
                            height: 100%;
                            padding: 0;
                            margin-bottom: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 7px;
                                object-fit: cover;
                                &:hover{
                                    transform: scale(1.1);
                                    transition: transform 0.5s;
                                } 
                            } 
                        }
                        .Wishlist-item-info{
                            position: relative;
                            width: 50%;
                            height: auto;
                            margin: 0 20px;
                            color: variables.$prymary-text-color;
                            h3{
                                width: 100%;
                                font-size: 1.6rem;
                                font-weight: 600;
                            }
                            p{  
                                margin-top: 12px;
                                width: 100%;
                                font-size: 1.8rem;
                            }
                            .add-to-cart{
                                width: 100px;
                                height: 50px;
                                position: absolute;
                                bottom: 8px;
                                right: -15px;
                                margin-top: 6px;
                                font-size: 1.6rem;
                                color: variables.$prymary-text-color;
                                border: 1px solid variables.$prymary-text-color;
                                border-radius: 8px;
                                &:hover{
                                    cursor: pointer;
                                    background-color: #E86424;
                                    color: white;
                                }
                            }
                            .delete-item{
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                bottom: 18px;
                                right: -70px;
                                margin-top: 6px;
                                font-size: 1.8rem;
                                color: white;
                                border: 1px solid white;
                                border-radius: 50%;
                                &:hover{
                                    cursor: pointer;
                                    background-color: #E86424;
                                    transition: background-color 0.5s;
                                }
                            }
                        }  
                    }
                }
                
            }
        }
    }
    article{
        z-index: 1;
        width: 100%;
        height: 686px;
        max-width: 1200px;
        color: variables.$prymary-text-color;
        display: flex;
        gap: 20px;
        .impact-section{
            width: 50%;
            height: auto;
            h1{
                font-size: 6rem;
            }
            p{
                font-size: 2.5rem;
                margin-bottom: 80px;
            }
            button{
                width: 261px;
                height: 73px;
                border: none;
                border-radius: 35px;
                font-size: 2.3rem;
                font-weight: 700;
                color: white;
                background-color: #FA9500;
                &:hover{
                        transform: scale(1.1);
                        transition: transform 0.5s;
                        } 
            }
            button:hover{
                cursor: pointer;
            }
        }
        .image-section{
            width: 50%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 19px;
                object-fit: cover;
                &:hover{
                        transform: scale(1.05);
                        transition: transform 0.5s;
                    } 
            }
        }
    }
    
    main{
        max-width: 1200px;
        margin: 100px auto 0;
        section{
            width: 100%;
            height: auto;
            // padding: 45px;

            h2{
                color: variables.$prymary-text-color;
                font-size: 5rem;
                font-weight: 500;
                margin: 32px 0;
            }
            .healthcare{
                width: 100%;
                height: auto;
                .card-section{
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 80px;
                    column-gap: 40px;

                    .product-card{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 502px;
                        padding: 15px;
                        border-radius: 8px;
                        background-color: variables.$secondary-color;
                        .card-svg{
                            align-self: self-end;
                            height: 10%;
                            &:hover{
                                    cursor: pointer;
                                    transform: scale(1.1);
                                    transition: transform 0.5s;
                                } 
                        }
                        .img-container{
                            width: 100%;
                            height: 55%;
                            padding: 10px 20px 0;
                            margin-bottom: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 7px;
                                object-fit: cover;
                                &:hover{
                                    transform: scale(1.1);
                                    transition: transform 0.5s;
                                } 
                            } 
                        }
                        .card-info{
                            position: relative;
                            height: 25%;
                            margin: 0 20px;
                            color: variables.$prymary-text-color;
                            h3{
                                width: 100%;
                                font-size: 2.5rem;
                                font-weight: 600;
                            }
                            p{  
                                width: 100%;
                                font-size: 2rem; 
                                .price-number{
                                   font-size: 2rem; 
                                }
                            }
                            .product-price{
                                margin-top: 12px;
                                font-size: 2rem;
                                font-weight: 700;
                            }
                            .add-to-cart{
                                width: 35px;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                svg{
                                    height: 10%;
                                    &:hover{
                                            cursor: pointer;
                                            transform: scale(1.1);
                                            transition: transform 0.5s;
                                        } 
                                }
                            }
                            
                        }   
                    }
                        
                        
                }
            }
            .furniture{
                @extend .healthcare;
                .card-section{
                    .product-card{
                        background-color: variables.$tertiary-color;
                        svg path{
                            stroke: currentColor;
                        }
                        svg{
                            color: white;
                        }
                        .card-info{
                            color: white;
                        }
                    }
                }
            }
        }
        .info-section{
            .about-us{
                .mission-container{
                    p{
                        font-size: 3rem;
                        font-weight: 500;
                        text-align: center;
                        color: #E86424;
                    }
                    .earth,.innovation{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        width: 500px;
                    }
                    @include flexCenter(row, space-between, center)
                }
                
            }
            .gallery{
                
                .img-container{
                    display: flex;
                    gap: 32px;
                    img{
                        width: 398px;
                        height: 398px;
                        object-fit: cover;
                        border-radius: 16px;
                            &:hover{
                                transform: scale(1.1);
                                transition: transform 0.5s;
                            } 
                    }
                }
                
            }
            .location{
                margin-bottom: 50px;
               .map{
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
               }
               h3{
                    font-size: 3.5rem;
                    font-weight: 400;
                    color: #E86424;
               }
               p{
                    font-size: 2.5rem;
                    font-weight: 400;
                    color: #E86424;
               }
            }
        }
        
       

    
    }
    footer{
            background-color:#FA9500;
            width: 100%;
            height: 250px;
            
            align-content: center;
            justify-items: center;
            h3{
                font-size: 3rem;
                color: white;
                margin-bottom: 20px;
            }
            .social-media{
                display: flex;
                gap: 20px;
            }
        }

    
}


@media (max-width: 768px) {
    body {
        header{
            padding: 0 16px;
        }
        article {
            flex-direction: column;
            height: auto;
            .impact-section, .image-section {
                width: 100%;
            }
            .impact-section {
                h1 {
                    font-size: 3.5rem;
                }
                p {
                    font-size: 1.8rem;
                }
                button {
                    width: 100%;
                    height: 50px;
                    font-size: 1.8rem;
                }
            }
            .image-section {
                img {
                    height: 250px;
                }
            }
        }
        main {
            padding: 0 16px;
            section {
                h2 {
                    font-size: 3rem;
                }
                .healthcare, .furniture {
                    .card-section {
                        grid-template-columns: 1fr;
                        row-gap: 40px;
                        .product-card {
                            height: auto;
                        }
                    }
                }
            }
            .info-section {
                .about-us { 
                    .mission-container {
                        flex-direction: column;
                        gap: 20px;
                        p{
                            font-size: 2rem;
                        }
                        .earth, .innovation {
                            width: 100%;
                        }
                    }
                }
                .gallery {
                    .img-container {
                        flex-direction: column;
                        gap: 20px;
                        img {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
                .location {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        footer {
            height: auto;
            h3 {
                font-size: 2rem;
            }
            .social-media {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
